* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  background-color: black;
}

#visualizer-canvas {
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: absolute;
  width: 100vw;
  flex-direction: column;
  font-family: "Amatic SC", cursive;
}
.menu h2 {
  background-color: transparent;
  color: white;
  font-size: 50px;
  border: none;
}
.menu select,
.meu select option {
  font-size: 20px;
  font-family: "revert", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
